header{
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    transition: 1s;
}

header .logo a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 28px;
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
}

header nav ul li a img{
    width: 28px;
}
header nav ul li img{
    width: 28px;
    cursor: pointer;
}
header nav ul li img:hover{
    filter: drop-shadow(0px 0px 10px #ffffffbd);
}

header nav ul li a img:hover{
    filter: drop-shadow(0px 0px 10px #ffffffbd);
}


@media screen and (max-width: 720px) {
    header{
        padding: 10px 20px;
    }
    
    header .logo a{
        font-size: 17px;
    }
    
    header nav ul{
        display: flex;
        gap: 15px;
    }
      
    header nav ul li a img{
        width: 20px;
    }
}

